* {
  margin: 0;
  padding: 0;
}
:root {
  --glasscolor: rgba(255, 255, 255, 0.612);
  --backdrop-filter: blur(200px);
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #ffffff 0%, #fce67b 100%);
}

.flex-01 {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-02 {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-bg-white {
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.icon-bg-grey {
  background-color: rgb(128, 126, 126);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* for mobile */
@media (max-width: 600px) {
  nav ul{
    display: none;
  }
  main h1 {
    font-size: 2rem;
    text-align: center;
  }

}

nav {
  width: 98vw;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 50%;
  height: 65%;
  background-color: white;
  border-radius: 15px;
}
li {
  list-style: none;
  text-align: center;
  padding: 10px 18px;
  border-radius: 25px;
  /* background-color: aquamarine; */
}
li:hover {
  background-color: black;
  color: white;
  border-radius: 18px;
  cursor: pointer;
}
.settings {
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

main {
  margin-left: 6vw;
}
main h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

#upper-container {
  width: 90vw;
  height: 15vh;
  /* background-color: purple; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#info{
  display: flex;
  align-items: center;
  width: 50vw;
  height: 20vh;
  gap: 10px;
}
#info h3 {
  font-weight: 400;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}
.content-1 button {
  width: 5vw;
  height: 5vh;
  background-color: black;
  color: white;
  border: none;
  border-radius: 18px;
  text-align: start;
  font-weight: 300;
  padding: 5px;
}
.content-2 button {
  width: 5vw;
  height: 5vh;
  background-color: orange;
  border: none;
  border-radius: 18px;
  text-align: start;
  padding: 5px;
  font-weight: 300;
}
.content-3 button {
  width: 15vw;
  height: 5vh;
  background-color: orange;
  border: none;
  border-radius: 18px;
  text-align: start;
  padding: 5px;
}
.content-4 button {
  width: 5vw;
  height: 5vh;
  background: none;
  border: 2px solid black;
  border-radius: 18px;
  text-align: start;
  padding: 5px;
  font-weight: 300;
}
#data {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  gap: 35px;
}
.num-data h1 {
  font-weight: 200;
  padding-left: 5px;
}
.data-div {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 4vh;
}
section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 90vw;
  height: 60vh;
  margin-left: 6vw;
  gap: 5px;
}

.container-01 {
  grid-column: 1/2;
  grid-row: 1/1;
  background-color: var(--glasscolor);
  border-radius: 15px;
  background-image: url(icons/vecteezy_professional-woman-with-blonde-hair-smiling-in-office_45956840.jpeg);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.person{
  padding: 15px;
}
.container-01 button {
  margin: 20px 8px;
  width: 5vw;
  height: 5vh;
  background: none;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
}
.container-02 {
  grid-column: 2/3;
  grid-row: 1/1;
  background-color: var(--glasscolor);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 05px;
}
.progress-container {
  width: 10px;
  height: 80px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse; /* so it fills from bottom to top */
}
.container-02 .week{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.day{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.progress-fill {
  background-color: #4caf50;
  width: 100%;
  height: 0%; /* Dynamically set with inline style or JS */
  transition: height 0.3s ease;
}
.day .circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
}
.flex-02 h1{
  font-size: 2rem;
  font-weight: 400;
}
.container-03 {
  grid-column: 3/4;
  grid-row: 1/1;
  background-color: var(--glasscolor);
  border-radius: 15px;
}
.container-04 {
  grid-row: 1/3;
  background-color: var(--glasscolor);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.container-05 {
  grid-row: 2/2;
  background-color: var(--glasscolor);
  border-radius: 15px;
}
.container-06 {
  grid-row: 2/2;
  grid-column: 2/4;
  background-color: var(--glasscolor);
  border-radius: 15px;
}
.week {
  display: grid;
  width: 95%;
  height: 80%;
  grid-template-columns: (1fr, 7);
}
.day {
  display: flex;
  flex-direction: column;
}

.card {
  width: 80%;
  height: 80%;
  background-color: rgb(15, 15, 15);
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 2vh;
  align-items: center;
}
.layout {
  width: 95%;
  height: 80%;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.layer {
  display: flex;
  width: 98%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.icon {
  width: 40px;
  height: 40px;
  filter: brightness(0) invert(1);
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
  font-weight: lighter;
}
.left-content {
  display: flex;
  gap: 5px;
  align-items: center;
}
.left-content h2 {
  font-weight: 200;
}
